{% extends "base.html" %}
{% block content %}
    {% for article in articles_page.object_list %}
        <article class='listed'>
            <h1 class="title">
                <a href="{{ SITEURL }}/{{ article.url }}" rel='bookmark'>{{ article.title }}</a>
            </h1>
            <div class="abbr published">
                {{ article.locale_date }}
                &nbsp;
                by {{ article.author }}
            </div>
            <div class="article-content"> {{ article.content }} </div>
        </article>
    {% endfor %}
    {% include 'pagination.html' %}
{% endblock content %}
